.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 550px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
