* {
  margin: 0px;
  padding: 0px;
}


.movie-card {
  box-sizing: border-box;
  /* height: 500px; */
  /* width: 200px; */
}

.posters {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 90px;
}

.posters:hover {
  transform: scale(1.05);
  transition: 800ms;
  cursor: pointer;
}

.titles {
  color: white;
}
